

		header{

			width:85%;
			height: 200px;
			border: 5px double #3700B3; 
			border-radius: 5px;
			background: #9FA8DA;
			margin: 10px auto	0px;

		}
                header img{
			display: inline-block;
			width:150px;
			height: 150px;  
			margin-top: 50px;
			margin-left: 50px;
			position: absolute;

		}
                header h1{
			display: inline-block;
			margin-left: 350px;
			margin-top: 70px;
			position: absolute;
			color: #303F9F;
			font-size: 3em;
			font-family: 'Permanent Marker', cursive;
			text-shadow:2px 4px 4px #E8EAF6;			
			transition-property: color ,text-shadow;
			transition-duration:1s,1.5s;
			-webkit-transition:color 1s;
			-moz-transition:color 1s;

		}
                header h1:hover{
			color:#1A237E;
			text-shadow:4px 4px 4px #E8EAF6;
			}
                section{
			width: 960;
			height: auto;
			background: #E0E0E0;
			margin-top: 5px;
		}
                #sitio{
			background: #9FA8DA;
		}
                .sitios{
			display: inline-block;
			width: 250px;
			height: 500px;	
			margin-left: 20px;
			margin-right: 10px;


		}
                .sitios img{
			width: 140px;
			height: 140px;
			position: absolute;
			margin-left: 90px;

		}
                .sitios img:hover{
			width: 170px;
			height: 170px;
			margin-left: 70px;

		}  
                .sitios video:hover{
			width: 170px;
			height: 170px;
			margin-left: 70px;

		}
                .sitios p{
			font-family: arial;
			font-size: 13px;
			font-weight: none;
			width: 230px;
			height: 350px;
			margin-left: 10px;
			position: absolute;

		}
                .sitios fieldset{
			margin: 10px auto 10px;
			height: auto;
			width: 240px;
			border: 4px double  #303F9F;
			border-radius: 5px;
			position: absolute;
		}
                #entradas{
			background: #fff;
		}
		article{
			margin: 10px auto 10px;
			height: auto;
			width: 95%;
			border: 4px double  #303F9F;
			border-radius: 5px; 
			text-align: justify;
			padding-left: 10px;
			padding-right: 5px;
		}
		